body {
  line-height: 1.6;
}
a {
  text-decoration: none;
}
#wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/*----------------------- HEADER  -----------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 60px;
  margin-left: 1rem;
}

/* 메뉴 기본 숨김 */
.nav {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #333;
  opacity: 1;
  z-index: 99;
}

/* 토글 후 표시 */
.nav.is-open {
  display: block;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  padding: 15px;
  border-bottom: #555 1px solid;
  text-align: center;
}
.nav a {
  color: #fff;
  font-size: 1rem;
}
/*----------------------- 햄버거 버튼 -----------------------*/

.menu-toggle-btn {
  width: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menu-toggle-btn span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.sec-tit{
    border: 2px solid gray;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.work-list{
    padding-top: 300px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
}
.work-list img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}
.work-list img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;    
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}


/*테블릿 최소 768px*/
@media (min-width: 768px) {
  .intro1 {
    position: absolute;
    top: 11%;
    left: 7%;
    color: rgb(49, 49, 49);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
   .work-list{
    padding-top: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 0 20px;
  }
}




/* 데스크탑 최소 1024px */
@media (min-width: 1024px) {
  .menu-toggle-btn {
    display: none;
  }
  .work-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  /* 네이게이션 바 */
  .nav {
    display: block;
    position: static;
    background: none;
    width: auto;
    opacity: 1;
  }

  .nav ul {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .nav li {
    margin-left: 1.5rem;
    margin-right: 0;
    padding: 0;
    border-bottom: none;
  }
  
  .nav a {
    color: #fff;
    font-size: 0.95rem;
  }
}

  nav.is-open {
    display: block;
  }

