body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: url(../images/도전.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
#wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/*----------------------- HEADER  -----------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 60px;
  margin-left: 1rem;
}

/* 메뉴 기본 숨김 */
.nav {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #333;
  opacity: 1;
  z-index: 99;
}

/* 토글 후 표시 */
.nav.is-open {
  display: block;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  padding: 15px;
  border-bottom: #555 1px solid;
  text-align: center;
}
.nav a {
  color: #fff;
  font-size: 1rem;
}
/*----------------------- 햄버거 버튼 -----------------------*/

.menu-toggle-btn {
  width: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menu-toggle-btn span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

/*----------------------- SLIDER -----------------------*/
.slider {
  position: static;
}
.intro1 {
  position: absolute;
  top: 11%;
  left: 7%;
  color: rgb(49, 49, 49);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.intro2 {
  position: absolute;
  top: 18%;
  left: 6%;
  color: rgb(49, 49, 49);
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.intro3 {
  position: absolute;
  top: 27%;
  left: 7%;
  color: rgb(49, 49, 49);
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.intro3 span {
  font-weight: 1000;
  font-size: 3rem;
}

/*테블릿 최소 768px*/
@media (min-width: 768px) {
  .intro1 {
    position: absolute;
    top: 11%;
    left: 7%;
    color: rgb(49, 49, 49);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .intro2 {
    position: absolute;
    top: 18%;
    left: 6%;
    color: rgb(49, 49, 49);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  .intro3 {
    position: absolute;
    top: 27%;
    left: 7%;
    color: rgb(49, 49, 49);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  .intro3 span {
    font-weight: 1000;
    font-size: 5rem;
  }
}

/* 데스크탑 최소 1024px */
@media (min-width: 1024px) {
  .menu-toggle-btn {
    display: none;
  }

  /* 네이게이션 바 */
  .nav {
    display: block;
    position: static;
    background: none;
    width: auto;
    opacity: 1;
  }

  .nav ul {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .nav li {
    margin-left: 1.5rem;
    margin-right: 0;
    padding: 0;
    border-bottom: none;
  }
  
  .nav a {
    color: #fff;
    font-size: 0.95rem;
  }
  .intro1 {
    position: absolute;
    top: 12%;
    left: 7%;
    color: rgb(49, 49, 49);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    animation: intro1 2s ease-in-out infinite alternate;
  }
  @keyframes intro1 {
    from {
      left: 2%;
    }
    to {
      left: 10%;
    }
  }
  .intro2 {
    position: absolute;
    top: 22%;
    left: 6%;
    color: rgb(49, 49, 49);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    animation: intro2 2s ease-in-out infinite alternate;
  }
  @keyframes intro2 {
    from {
      left: 3%;
    }
    to {
      left: 9%;
    }
  }
  .intro3 {
    position: absolute;
    top: 34%;
    left: 7%;
    color: rgb(49, 49, 49);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    animation: intro3 2s ease-in-out infinite alternate;
  }
  .intro3 span {
    font-weight: 1000;
    font-size: 6rem;
  }
  @keyframes intro3 {
    from {
      left: 2%;
    }
    to {
      left: 10%;
    }
  }

  nav.is-open {
    display: block;
  }
}
