body{
    margin: 0;
    height: 2000px;
}
section{
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg);
    height: 578px;
    margin top: 100px ;
}
.photo{
    position: absolute;
    top: 90px;
    left: 24.8569%;
    animation: photo 2s ease-out infinite alternate;
}
/* 과제 word 완성하기 */
.word{
    color: aliceblue;
    font-size: 5rem ;
    font-weight: bolder;
    position: absolute;
    top: 100px;
    right: 24%;
    animation: word 2s ease-out infinite alternate;
}


@keyframes photo {
    from{
        left: -25%;
    }to{
        left: 25%
    }
}

@keyframes word {
    from{
        right: -20%;
    }to{
        right: 20%
    }
}

/* 두 번째 섹션 */
.section2{
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_pick_bg_251226.jpg);
    height: 578px;
    margin-top: 100px;
    position: relative; /*.section2를 부모로 설정 꼭 첫번쨰가 부모일 필요 없음*/
}
.cake{
    width: 615px;
    top: 100px;
    right: 50px;
    position: absolute; /*자식으로 설정*/
    animation: cake 1s ease-out;
}
.pick{
    height: 100%;
    color: aliceblue;
    font-size: 5rem ;
    width: 256px;
    position: absolute;
    top: 100px;
    left: 25%;
    animation: pick 1s ease-out;
}

@keyframes cake {
    from{
        right: -20px;
    }to{
        right: 50px;
    }
}

@keyframes pick {
    from{
        left: -25%
    }to{
        left: 25%;
    }
}

@keyframes unPick {
    from{
        left: 25%
    }to{
        left: -25%;
    }
}

